@charset  utf-8;
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* CSS Document */
* {
	padding: 0;
	margin: 0;
}

body {
	background: #1e1934 

}
#bg { 
position: fixed; 
    	height: 100%;
		width: 100%;
		background: #000000;
		z-index: 200;
		top: 0;
		left: 0; 
}

.msg {
	margin: 0 auto;
	text-align: center;
	font-family: cursive;
	color: #FFF;
	font-size: 16px;
}

h1 {
	font-family: cursive;
	font-size: 72px;
	font-weight: lighter;
	color: #FFF;
}
#divResult h2{
    font-family: cursive;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	margin-top: -15px;

}

input[type=button] {
	background: #C5062C;
	color: #fff;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 25px;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
}

#co {
	background: #0f2794;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 25px;
	position: absolute;
	left: 35%;
	top: 50%;
	cursor: pointer;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#co a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

#co:hover {
	background: #111;
}

#form {
	float: left;
	background: #C5062C;
	font-size: 19px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0;
	height: 48px;
	width: 500px;
	padding: 0 10px;
	color: #fff;
}

#form:focus {
	background: #111;
}

#gui {
	position: absolute;
	right: 20px;
}

#gui:hover {
	background: #111;
}

#traloi h1 {
    font-family: cursive;
	font-size: 30px;
	color: #000;
	font-weight: bold;
}
#traloi p {
    font-family: cursive;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
#divResult2 {
    text-align: center;
}

#divResult3 p {
    font-family: cursive;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}

#dialog-overlay {
	width:100%; 
	height:100%;
	background:#000; 
	position:absolute; 
	top:0; left:0; 
	z-index:3000; 
	display:none;
}


#dialog-box {
	background:rgb(0, 0, 0);
	width:328px; 
	position:absolute; 
	z-index:5000; 
	display:none;
	
}

#dialog-box .dialog-content {

	text-align:center; 
	padding:10px; 
	margin:13px;
	color:rgb(212, 194, 194); 
	font-size:15px; 
}

#dialog-box .dialog-content p {
    font-family: cursive;
	font-weight:700; 
	margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px; 
	padding:0; 
	height:100px;

}
#msb-nt{
	background: #1e1934;
	width: 300px;
	height: 50px;
	margin-left: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}
#dialog-box .dialog-content a{
	font-family: cursive;
	color: rgb(253, 253, 253);
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	border-radius: 40%;

}